@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply h-[100dvh] antialiased;
    }

    body {
        @apply h-full flex max-w-7xl bg-black text-neutral-50  m-auto;
    }

    input,
    textarea {
        @apply bg-transparent w-full;
    }
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
